
@font-face {
    font-family: "font1";
    src: url("varelaround-regular-webfont.woff") format('woff');
}

@font-face {
    font-family: "font3";
    src: url("varelaround-regular-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "font1";
    src: url("varelaround-regular-webfont.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "font1";
    src: url("varelaround-regular-webfont.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "font2";
    src: url("varelaround-regular-webfont.woff2") format('woff2');
}

@font-face {
    font-family: "font2";
    src: url("varelaround-regular-webfont.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "font2";
    src: url("varelaround-regular-webfont.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "font2";
    src: url("varelaround-regular-webfont.woff2") format('woff2');
    font-style: italic;
}



body{
  font-family: 'font1';
  text-align: left;
}
input{
  padding: 5px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
}
input[type=text]{
  width: 97%;
}
input[type=text,textarea]:focus{
  border: 3px solid #555;
}
textarea{
  width: 97%;
}
.titles{
  font-weight: bolder;
}
.info{

  text-decoration: none;
}
.info:hover {
  cursor: help;
  position: relative;
}
.info span{
  display:none;
}
.info:hover span{
  border: #666 2px solid;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: #e3e3e3;
  left: 0px;
  margin: 15px;
  width: 300px;
  position: absolute;
  top: 15px;
  text-decoration: none;
}
#info_afbeelding{
  width:10px;
  height: auto;
}
